<!DOCTYPE html>
<html>
  <head>
	  <title>blog page</title>
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

  </head>
    <body>
        <div class="ui fixed inverted menu">
           <div class="ui container">
                <div class="active item" class="header item"><i class="code icon"></i>Blog Site</div>
                <a href="/"class="item">Home</a>
                <a href="/blogs/post"class="item">New Post</a>
                 <div class="right menu">
                      <a  href="/register" class="ui item">SignIn</a>
                       <a href="/login"   class="ui item">SignUp</a>
                        <a href="/logout" class="ui item">Logout</a>
                 </div>
           </div>
       </div>
